.chatOnline{
    margin: 10px 0;
    margin-bottom: 15px;
}

.chatOnlineFriend{
    display:  flex;
    align-items: center;
    cursor: pointer;
}

.imgContainer{
    margin-right : 15px;
    position: relative;
}
.chatOnlineImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
   background-color: limegreen; 
    position: absolute;
    top: 1px;
    right: 1px;
}